    <h2>Objectives</h2>
    {% for date, objectives in project.group.objectives_by.date.items() %}
        {% if date != "None" %}
            <h3>{{ date }}</h3>
            <r-objectives>
                {% for objective in objectives %}
                    {% include "roadmap.objectives.objective.html" -%}
                {% endfor -%}
            </r-objectives>
        {% endif %}
    {% endfor %}
    {% for date, objectives in project.group.objectives_by.date.items() %}
        {% if date == "None" %}
            <h3>Objectives without date set</h3>    
            <r-objectives>
                {% for objective in objectives %}
                    {% include "roadmap.objectives.objective.html" -%}
                {% endfor -%}
            </r-objectives>
        {% endif %}
    {% endfor %}
    
