<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }}</title>
    <style>
        {% include "roadmap.css" -%}
    </style>
</head>
<body>
    <section role="document">
        <section role="doc-introduction">
            <h1 class="roadmap-title">{{ project.title }}</h1>

            <div class="authors">
                <div class="authors_title">Authored by</div>
                <ul>
            {% for author in project.authors %}
                {{ range .Authors }}
                <li><div class="author">
                    <h5>{{ author.name}}</h5>
                    <p>{{ author.contact}}</p>
                </div></li>
            {% endfor %}
                </ul>  
            </div>
            <p class="description">
                {% markdown %}{{ project.description }}{% endmarkdown %}
            </p>
            {% if "visionstatement" in project %}
            <h2 class="section-title">Visionstatement</h2>
            <p class="description">
                {% markdown %}{{ project.visionstatement }}{% endmarkdown %}
            </p>{% endif -%}
        </section>

        <section role="doc-notice">
            <h2 class="section-title">Important Dates</h2>

            <div class="timeline">
            {% for timelineentry in project.timeline %}
                <div class="timeline-item" data-date="{{ timelineentry.date }}">
                    <h3 class="timeline-item__title">{{ timelineentry.title }}</h3>
                    <div class="timeline-item__description">{% markdown %}{{ timelineentry.description -}}{% endmarkdown %}</div>
                </div>
            {% endfor %}
            </div>
        </section>
        
        <section role="main">
            <h2 class="section-title">Objectives</h2>
        {% for objective in project.objectives %}
            {% set objective_id = loop.index %}
            <div id="objective-{{ objective_id }}" class="objective">
                <div class="header">
                    <h3 class="title">{{ objective.title -}}</h3>
                    <div class="card-state card-state-{{ objective.state}}">{{ objective.state -}}</div>
                </div>
                <p class="description">{% markdown %}{{ objective.description -}}{% endmarkdown %}</p>
                <div class="footer">
                    <div class="left">&nbsp;</div> 
                    <div class="right">
                        {% if "reference" in objective %}
                            <a class="card-link" target="_blank" href="{{ objective.reference.link -}}">{{ objective.reference.name if objective.reference.name != "" else objective.reference.link }}</a>
                        {% endif -%}
                    </div>
                </div>
                    
                {% if "keyresults" in objective %}
                    <div class="keyresults">
                        {% for keyresult in objective.keyresults %}
                                {% set keyresult_id = loop.index %}
                                <div id="objective-{{objective_id }}-keyresult-{{ keyresult_id }}" class="keyresult" data-date="{{ 'R' if 'date' not in keyresult  }}{{ keyresult.date if 'date' in keyresult else keyresult_id  }}">
                                    <div class="header">
                                        <div class="left"><h4 class="title">{{ keyresult.title}}</h4></div>
                                        <div class="center"></div>
                                        <div class="right">
                                            {% if "requirement" in keyresult %}
                                                <div class="requirement requirement-{{ keyresult.requirement}}{{ '-inverted' if keyresult.state =='DONE' or keyresult.state =='SKIP' or objective.state == 'ACHIEVED' or objective.state == 'SKIP' }}">{{ keyresult.requirement}}</div>
                                            {% endif -%}
                                            <div class="state card-state-{{ keyresult.state}}{{ '-inverted' if keyresult.state !='DONE' and (objective.state == 'ACHIEVED' or objective.state == 'SKIP' ) }}">{{ keyresult.state}}</div>
                                        </div>
                                    </div>
                                    <p class="description">{% markdown %}{{ keyresult.description }}{% endmarkdown %}</p>
                                    <div class="footer">
                                        <div class="left">&nbsp;</div>
                                        <div class="right">
                                            {% if "reference" in keyresult %}
                                                <a class="card-link" target="_blank" href="{{ keyresult.reference.link -}}">{{ keyresult.reference.name if keyresult.reference.name != "" else keyresult.reference.link }}</a>
                                            {% endif -%}
                                        </div>
                                    </div>
                                </div>
                        {% endfor -%}
                    </div>
                {% endif -%}
            
            </div>
            {% endfor -%}
        {% if "milestones" in project %}
            <h2 class="section-title">Milestones</h2>

            <div class="timeline">
            {% for milestone in project.milestones %}
            {% set milestone_id = loop.index %}
                <div id="milestone-{{ milestone_id }}" class="timeline-item" data-date="M{{ milestone_id }}">
                    <h3 class="timeline-item__title section-subtitle">{{ milestone.title}}<p class="card-state card-state-{{ milestone.state}}">{{ milestone.state}}</p></h3>
                    <div class="timeline-item_description">
                        {% markdown %}{{ milestone.description }}{% endmarkdown %}
                        {% if "reference" in milestone %}
                        <a class="card-link" target="_blank" href="{{ milestone.reference.link -}}">{{ milestone.reference.name if milestone.reference.name != "" else milestone.reference.link }}</a>
                        {% endif -%}
                    </div>
                    {% for deliverable in milestone.deliverables %}
                        {% set deliverable_id = loop.index %}     
                        <div id="milestone-{{milestone_id }}-deliverable-{{ deliverable_id }}" class="card card-{{ deliverable.state}}">
                            <h4 class="card-title">
                                <p class="card-state card-state-{{ deliverable.state}}">{{ deliverable.state}}</p>
                                {{ deliverable.title }}
                                {% if "requirement" in deliverable %}<span class="tablet tablet-{{ deliverable.requirement}}">{{ deliverable.requirement}}</span>{% endif -%}
                            </h4>
                            {% markdown %}{{ deliverable.description -}}{% endmarkdown %}

                            {% if "reference" in deliverable %}
                            <a class="card-link" target="_blank" href="{{ deliverable.reference.link -}}">{{ deliverable.reference.name if deliverable.reference.name != "" else deliverable.reference.link }}</a>
                            {% endif -%}
                        </div>
                    {% endfor -%}
                    
                </div>
            {% endfor -%}
            </div>
        {% endif -%}
        </section>
    </section>
    
</body>
</html>