        <h2>Milestones</h2>
            <r-milestones >
                {% for milestone in project.milestones %}
                    <r-milestone id="{{ milestone._id  }}" class="{{ milestone.state}}">
                        <r-milestone-id>{{ milestone.id }}</r-milestone-id>
                        {% if "date" in milestone %}
                        <r-date>{{ milestone.date}}</r-date>
                        {% endif -%}
                        <r-header>
                            <r-name><h3>{{ milestone.title}}</h3></r-name>
                            {% if "state" in milestone %}  
                                <r-state>
                                    <span class="{{ milestone.state}}">{{ milestone.state}}</span>
                                </r-state> 
                            {% endif -%}
                        </r-header>
                        <div class="accordion">
                            <div class="container {{ 'active' if (milestone.state != 'REACHED' and milestone.state != 'SKIP' ) }}">
                                <div class="label"><span>{% markdown %}{{ milestone.description|truncate(60,false,' [...]',0) }}{% endmarkdown %}</span></div>
                                <div class="content">
                                    <r-description>
                                        {% markdown %}{{ milestone.description }}{% endmarkdown %}
                                    </r-description>
                                    {% if "reference" in milestone %}
                                        <r-reference>
                                            <a class="card-link" target="_blank" href="{{ milestone.reference.link -}}">{{ milestone.reference.name if milestone.reference.name != "" else milestone.reference.link }}</a>
                                        </r-reference>
                                    {% endif -%}
                                    {% if "todos" in milestone %}
                                        {% set todos = milestone.todos %}
                                        {% include "roadmap.todos.html" -%}
                                    {% endif -%}
                                    {% if "deliverables" in milestone %}
                                        <r-deliverables>
                                            {% for deliverable in milestone.deliverables %}
                                                {% if "state" in deliverable %}
                                                    {% set deliverable_state = deliverable.state %}
                                                {% else %}
                                                    {% set deliverable_state = 'TODO' %}
                                                {% endif -%}
                                                <r-deliverable id="{{ deliverable._id }}" class="{{ deliverable_state }}">
                                                    {% if "date" in deliverable %}
                                                    <r-date>{{ deliverable.date}}</r-date>
                                                    {% endif -%}
                                                    <r-header>
                                                        <r-name><h4>{{ deliverable.title}}</h4></r-name>
                                                        {% if "requirement" in deliverable %}
                                                            <r-requirement>
                                                                <span class="{{ deliverable.requirement}}{{ '-inverted' if (milestone.state == 'REACHED' or milestone.state == 'SKIP' ) }}">{{ deliverable.requirement}}</span>
                                                            </r-requirement>
                                                        {% endif -%}
                                                        {% if "state" in deliverable %}
                                                            <r-state>
                                                                <span class="{{ deliverable.state}}{{ '-inverted' if (milestone.state == 'REACHED' or milestone.state == 'SKIP' ) }}">{{ deliverable.state}}</span>
                                                            </r-state>
                                                        {% endif -%}
                                                    </r-header>
                                                    <r-description>
                                                        {% markdown %}{{ deliverable.description -}}{% endmarkdown %}
                                                    </r-description>
                                                    {% if "reference" in deliverable %}
                                                        <r-reference>
                                                            <a class="card-link" target="_blank" href="{{ deliverable.reference.link -}}">{{ deliverable.reference.name if deliverable.reference.name != "" else deliverable.reference.link }}</a>
                                                        </r-reference>
                                                    {% endif -%}
                                                    {% if "todos" in deliverable %}
                                                        {% set todos = deliverable.todos %}
                                                        {% include "roadmap.todos.html" -%}
                                                    {% endif -%}
                                                    {% if "quantifiers" in deliverable %}
                                                        {% set quantifiers = deliverable.quantifiers %}
                                                        {% include "roadmap.quantifiers.html" -%}
                                                    {% endif -%}
                                                </r-deliverable>
                                            {% endfor -%}
                                        </r-deliverables>
                                    {% endif -%}
                                </div>
                            </div>
                        </div>
                    </r-milestone>
                {% endfor -%}
            </r-milestones>
