    <h2>Objectives</h2>
        <r-objectives>
            {% for objective in project.objectives %}
                {% set objective_id = loop.index %}
                <r-objective id="objective-{{ objective_id }}">
                    <r-header>
                        {% if "date" in objective %}
                        <r-date>{{ objective.date}}</r-date>
                        {% endif -%}
                        <r-name><h3>{{ objective.title -}}</h3></r-name>
                        {% if "state" in objective %}    
                            <r-state>
                                <span class="{{ objective.state -}}">{{ objective.state -}}</span>
                            </r-state>
                            {% endif -%}
                    </r-header>
                    <r-description>
                        {% markdown %}{{ objective.description -}}{% endmarkdown %}
                    </r-description>
                    {% if "reference" in objective %}
                        <r-reference>
                            <a class="card-link" target="_blank" href="{{ objective.reference.link -}}">{{ objective.reference.name if objective.reference.name != "" else objective.reference.link }}</a>
                        </r-reference>
                    {% endif -%}
                    {% if "keyresults" in objective %}
                        <r-keyresults>
                            {% for keyresult in objective.keyresults %}
                                {% set keyresult_id = loop.index %}
                                <r-keyresult id="objective-{{objective_id }}-keyresult-{{ keyresult_id }}" data-date="{{ 'R' if 'date' not in keyresult  }}{{ keyresult.date if 'date' in keyresult else keyresult_id  }}">
                                    <r-header>
                                        <r-name><h4>{{ keyresult.title}}</h4></r-name>
                                        {% if "requirement" in keyresult %}
                                            <r-requirement>
                                                <span class="{{ keyresult.requirement}}{{ '-inverted' if keyresult.state =='DONE' or keyresult.state =='SKIP' or objective.state == 'ACHIEVED' or objective.state == 'SKIP' }}">{{ keyresult.requirement}}</span>
                                            </r-requirement> 
                                        {% endif -%}
                                        
                                        <r-state>
                                            <span class="{{ keyresult.state}}{{ '-inverted' if keyresult.state !='DONE' and (objective.state == 'ACHIEVED' or objective.state == 'SKIP' ) }}">{{ keyresult.state}}</span>
                                        </r-state> 
                                    </r-header>
                                    <r-description>
                                        {% markdown %}{{ keyresult.description }}{% endmarkdown %}
                                    </r-description>
                                    {% if "reference" in keyresult %}
                                        <r-reference>
                                            <a class="card-link" target="_blank" href="{{ keyresult.reference.link -}}">{{ keyresult.reference.name if keyresult.reference.name != "" else keyresult.reference.link }}</a>
                                        </r-reference>
                                    {% endif -%}
                                </r-keyresult>
                            {% endfor -%}
                        </r-keyresults>
                    {% endif -%}
                    {% if "milestones" in objective %}
                        {% include "roadmap.objective.milestones.html" -%}
                    {% endif -%}
                </r-objective>
            {% endfor -%}
        </r-objectives>
