<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ project.title }}</title>
        <style>
            {% include "roadmap.css" -%}
        </style>
    </head>
    <body>
        <h1>{{ project.title }}</h1>
        <r-project>
            {% if "logo" in project %}
                <img src="{{ project.logo.filename }}" alt="{{ project.logo.copyright_notice }}">
            
            {% endif -%}
            
            {% if "authors" in project %}
                {% include "roadmap.authors.html" -%}
            {% endif -%}

            <r-description>
                {% markdown %}{{ project.description }}{% endmarkdown %}
            </r-description>

            {% if "visionstatement" in project %}
                {% include "roadmap.visionstatement.html" -%}
            {% endif -%}
        </r-project>
        
        {% if "timeline" in project %}
            {% include "roadmap.timeline.html" -%}
        {% endif -%}

        {% if "milestones" in project %}
            {% include "roadmap.milestones.html" -%}
        {% endif -%}

        {% if "objectives" in project %}
            {% include "roadmap.objectives.html" -%}
        {% endif -%}
    </body>
</html>