    <h2>Objectives</h2>
    {% for date, objectives in project.group.objectives_by.date.items() %}
        {% if date != "None" %}
            <h3>{{ date }}</h3>
            <r-objectives>
                {% for objective in objectives %}
                    <r-objective id="{{ objective._id }}">
                        <r-header>
                            {% if "date" in objective %}
                            <r-date>{{ objective.date}}</r-date>
                            {% endif -%}
                            <r-name><h4>{{ objective.title -}}</h4></r-name>
                            {% if "state" in objective %}    
                                <r-state>
                                    <span class="{{ objective.state -}}">{{ objective.state -}}</span>
                                </r-state>
                                {% endif -%}
                        </r-header>
                        <r-description>
                            {% markdown %}{{ objective.description -}}{% endmarkdown %}
                        </r-description>
                        {% if "reference" in objective %}
                            <r-reference>
                                <a class="card-link" target="_blank" href="{{ objective.reference.link -}}">{{ objective.reference.name if objective.reference.name != "" else objective.reference.link }}</a>
                            </r-reference>
                        {% endif -%}
                        {% if "todos" in objective %}
                            {% set todos = objective.todos %}
                            {% include "roadmap.todos.html" -%}
                        {% endif -%}
                        {% if "keyresults" in objective %}
                            <r-keyresults>
                                {% for keyresult in objective.keyresults %}
                                   {% if "date" not in keyresult %}
                                        {% set keyresult_id_display = keyresult.id %}
                                    {% else %}
                                        {% set keyresult_id_display = keyresult.date %}
                                    {% endif -%}
                                    <r-keyresult id="{{ keyresult._id }}" data-date="{{ keyresult_id_display }}">
                                        <r-header>
                                            <r-name><h5>{{ keyresult.title}}</h5></r-name>
                                            {% if "requirement" in keyresult %}
                                                <r-requirement>
                                                    <span class="{{ keyresult.requirement}}{{ '-inverted' if keyresult.state =='DONE' or keyresult.state =='SKIP' or objective.state == 'ACHIEVED' or objective.state == 'SKIP' }}">{{ keyresult.requirement}}</span>
                                                </r-requirement> 
                                            {% endif -%}
                                            
                                            <r-state>
                                                <span class="{{ keyresult.state}}{{ '-inverted' if keyresult.state !='DONE' and (objective.state == 'ACHIEVED' or objective.state == 'SKIP' ) }}">{{ keyresult.state}}</span>
                                            </r-state> 
                                        </r-header>
                                        <r-description>
                                            {% markdown %}{{ keyresult.description }}{% endmarkdown %}
                                        </r-description>
                                        {% if "reference" in keyresult %}
                                            <r-reference>
                                                <a class="card-link" target="_blank" href="{{ keyresult.reference.link -}}">{{ keyresult.reference.name if keyresult.reference.name != "" else keyresult.reference.link }}</a>
                                            </r-reference>
                                        {% endif -%}
                                        {% if "todos" in keyresult %}
                                            {% set todos = keyresult.todos %}
                                            {% include "roadmap.todos.html" -%}
                                        {% endif -%}
                                        {% if "quantifiers" in keyresult %}
                                            {% set quantifiers = keyresult.quantifiers %}
                                            {% include "roadmap.quantifiers.html" -%}
                                        {% endif -%}
                                    </r-keyresult>
                                {% endfor -%}
                            </r-keyresults>
                        {% endif -%}
                        {% if "milestones" in objective %}
                            {% include "roadmap.objective.milestones.html" -%}
                        {% endif -%}
                    </r-objective>
                {% endfor -%}
            </r-objectives>
        {% endif %}
    {% endfor %}
    {% for date, objectives in project.group.objectives_by.date.items() %}
        {% if date == "None" %}
            <h3>Objectives without date set</h3>    
            <r-objectives>
                {% for objective in objectives %}
                    <r-objective id="{{ objective._id }}">
                        <r-header>
                            {% if "date" in objective %}
                                <r-date>{{ objective.date}}</r-date>
                            {% endif -%}
                            <r-name><h4>{{ objective.title -}}</h4></r-name>
                            {% if "state" in objective %}    
                                <r-state>
                                    <span class="{{ objective.state -}}">{{ objective.state -}}</span>
                                </r-state>
                                {% endif -%}
                        </r-header>
                        <r-description>
                            {% markdown %}{{ objective.description -}}{% endmarkdown %}
                        </r-description>
                        {% if "reference" in objective %}
                            <r-reference>
                                <a class="card-link" target="_blank" href="{{ objective.reference.link -}}">{{ objective.reference.name if objective.reference.name != "" else objective.reference.link }}</a>
                            </r-reference>
                        {% endif -%}
                        {% if "todos" in objective %}
                            {% set todos = objective.todos %}
                            {% include "roadmap.todos.html" -%}
                        {% endif -%}
                        {% if "keyresults" in objective %}
                            <r-keyresults>
                                {% for keyresult in objective.keyresults %}
                                    <r-keyresult id="{{ keyresult._id }}" data-date="{{ keyresult.date if 'date' in keyresult else keyresult.id  }}">
                                        <r-header>
                                            <r-name><h5>{{ keyresult.title}}</h5></r-name>
                                            {% if "requirement" in keyresult %}
                                                <r-requirement>
                                                    <span class="{{ keyresult.requirement}}{{ '-inverted' if keyresult.state =='DONE' or keyresult.state =='SKIP' or objective.state == 'ACHIEVED' or objective.state == 'SKIP' }}">{{ keyresult.requirement}}</span>
                                                </r-requirement> 
                                            {% endif -%}
                                            
                                            <r-state>
                                                <span class="{{ keyresult.state}}{{ '-inverted' if keyresult.state !='DONE' and (objective.state == 'ACHIEVED' or objective.state == 'SKIP' ) }}">{{ keyresult.state}}</span>
                                            </r-state> 
                                        </r-header>
                                        <r-description>
                                            {% markdown %}{{ keyresult.description }}{% endmarkdown %}
                                        </r-description>
                                        {% if "reference" in keyresult %}
                                            <r-reference>
                                                <a class="card-link" target="_blank" href="{{ keyresult.reference.link -}}">{{ keyresult.reference.name if keyresult.reference.name != "" else keyresult.reference.link }}</a>
                                            </r-reference>
                                        {% endif -%}
                                        {% if "todos" in keyresult %}
                                            {% set todos = keyresult.todos %}
                                            {% include "roadmap.todos.html" -%}
                                        {% endif -%}
                                        {% if "quantifiers" in keyresult %}
                                            {% set quantifiers = keyresult.quantifiers %}
                                            {% include "roadmap.quantifiers.html" -%}
                                        {% endif -%}
                                    </r-keyresult>
                                {% endfor -%}
                            </r-keyresults>
                        {% endif -%}
                        {% if "milestones" in objective %}
                            {% include "roadmap.objective.milestones.html" -%}
                        {% endif -%}
                    </r-objective>
                {% endfor -%}
            </r-objectives>
        {% endif %}
    {% endfor %}
    
