        <r-quantifiers>
            {% if 'weighted_shortest_job_first' in quantifiers and quantifiers.weighted_shortest_job_first != None %}
            <r-weighted_shortest_job_first class="tooltip">WSJF:  {{  quantifiers.weighted_shortest_job_first }}<span class="tooltiptext">
                <table>
                    <caption>Weighted Shortest Job First</caption>
                    <tbody>
                        <tr><td><r-jobsize>Jobsize</r-jobsize></td><td>{{  quantifiers.jobsize }}</td></tr>
                        <tr><td><r-cost_of_delay>Cost of Delay</r-cost_of_delay></td><td>{{ quantifiers.cost_of_delay }}</td></tr>
                        <tr><td><r-user_business_value>User Value<br>Business Value</r-user_business_value></td><td>{{ quantifiers.user_business_value }}</td></tr>
                        <tr><td><r-time_criticality>Time Criticality</r-time_criticality></td><td>{{ quantifiers.time_criticality }}</td></tr>
                        <tr><td><r-opportunity_enablement_or_risk_reduction>Opportunity Enablement<br>Risk Reduction</r-opportunity_enablement_or_risk_reduction></td><td>{{ quantifiers.opportunity_enablement_or_risk_reduction }}</td></tr>
                     </tbody>
                </table>
            </span></r-weighted_shortest_job_first>
            {% else %}
                {% if 'jobsize' in quantifiers and quantifiers.jobsize != None %}
                    <r-jobsize>Jobsize: {{  quantifiers.jobsize }}</r-jobsize>
                {% endif -%}
                {% if 'cost_of_delay' in quantifiers and quantifiers.cost_of_delay != None %}
                    <r-cost_of_delay class="tooltip">Cost of Delay: {{ quantifiers.cost_of_delay }}<span class="tooltiptext">
                        <table>
                            <caption>Cost of delay</caption>
                            <tbody>
                                <tr><td><r-user_business_value>User Value<br> Business Value</r-user_business_value></td><td>{{ quantifiers.user_business_value }}</td></tr>
                                <tr><td><r-time_criticality>Time Criticality</r-time_criticality></td><td>{{ quantifiers.time_criticality }}</td></tr>
                                <tr><td><r-opportunity_enablement_or_risk_reduction>Opportunity Enablement<br> Risk Reduction</r-opportunity_enablement_or_risk_reduction></td><td>{{ quantifiers.opportunity_enablement_or_risk_reduction }}</td></tr>
                            </tbody>
                        </table>
                    </span></r-cost_of_delay>
                {% else %}
                    {% if 'user_business_value' in quantifiers  and quantifiers.user_business_value != None %}
                        <r-user_business_value>User Value / Business Value: {{ quantifiers.user_business_value }}</r-user_business_value>
                    {% endif -%}  
                    {% if 'time_criticality' in quantifiers  and quantifiers.time_criticality != None %}
                        <r-time_criticality>Time Criticality: {{ quantifiers.time_criticality }}</r-time_criticality>
                    {% endif -%}  
                    {% if 'opportunity_enablement_or_risk_reduction' in quantifiers  and quantifiers.opportunity_enablement_or_risk_reduction != None %}
                        <r-opportunity_enablement_or_risk_reduction>Opportunity Enablement / Risk Reduction: {{ quantifiers.opportunity_enablement_or_risk_reduction }}</r-opportunity_enablement_or_risk_reduction>
                    {% endif -%}  
                {% endif -%}        
            {% endif -%}
        </r-quantifiers>