        <h2>Important Dates</h2>
            <r-timeline>
                {% for date, timelineentries in project.group.timeline_by.date.items() %}
                {% set id = "timeline_grouped_" + loop.index | string %}
                    <r-timeline-item id="{{ id }}">
                        <r-date>{{ date }}</r-date>
                        <r-name>
                            {% for timelineentry in timelineentries %}
                                {% include "roadmap.timeline.timelinemarker.html" %}
                            {% endfor %}                
                        </r-name>
                    </r-timeline-item>
                {% endfor %}
            </r-timeline>