/* Print Style */
@page {
    size: A4;
}
/* Color Definitions 
    * TODO: Add more color definitions to make it themeable
    */
:root {
    
    --milestone_background: rgb(226, 225, 225);
    --milestone_boxshadow: gray;
    --milestone_arrow: #CB6262;
    

    --deliverable_background: white;
    --deliverable_boxshadow: gray;

    --objective_background: white;
    --objective_boxshadow: gray;

    --keyresults_background: white;
    --keyresults_r-timeline_color: gray;
    --keyresults_circle_border_color: gray;
    --keyresults_circle_fill_color: #444;

    --keyresult_background: rgb(226, 225, 225);
    --keyresult_boxshadow: gray;
    
    --keyresult_date_underline: gray;
    
    
    --link_color: #209c41;
    --link_color_hover: #bf4aaa ;
    --link_color_visited: #203d9c;
    
    --color_todo: #888;
    --color_doing: #63B2EB; ;
    --color_done: #10c350;
    --color_skip: #F65BD2;

    --color_state_todo: var(--color_todo);
    --color_state_idea: var(--color_todo);
    --color_state_planned: #E0AF2F;
    --color_state_commited: #63B2EB;
    --color_state_doing: var(--color_doing);
    --color_state_reached: var(--color_done);
    --color_state_achieved: var(--color_done);
    --color_state_done: var(--color_done);
    --color_state_skip: var(--color_skip);
    --color_state_must: #B81D13;
    --color_state_should: #ecb70b;
    --color_state_may: #008450;
    
    --color_state__text: white;

    --color_tooltip_background: lightblue;
    --color_tooltip_boxshadow: gray;
    --color_tooltip_arrow: red;

    /* Embeded Icons for quantifiers - for offline support */
    /* Icon 'streamline-pixel--free--14x14-Business-Products-Performance-Money-Decrease.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_cost_of_delay: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABCElEQVR4nHXQMVLCQBiG4c0JTOcRsNycgKSytKTUTujW0kpvQKwcbyClJwhU2GWtNDeQylDa+X7s/EzCjO/MAzM/85GBzKVqTFGhh+WhIkZlsAKuUUB5NFAVIlSNkPEyTMcpAt5QutTaOXeFGnuUp0MVsESBCOXRQm1wHOqDM6g9IqwcDTzUBoehDhPsoM7RIULl8LB6RA1bVNBB5dATCvxbhogtLqC+sMLajdOXqQ8EDXvc4hs6XmIBK+DGpXflMdHwB3PsMMMLIizdOtjNo9GwxTt+oeMnXmE9IeDRpfT54TeWLn3rcLiCtcQdHqD0H9xrOKzGFgtYz+gQcex0qGaYw9LTRiP1B3j/QPxnrZ9XAAAAAElFTkSuQmCC');
    /* Icon 'streamline-pixel--free--14x14-wrench.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_jobsize: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAzUlEQVR4nJXRuQ3CQABE0XEHS0RKSEgJpgQiUkpwSgWkEEFGC3TAlgARIqMEdwB/WK24fIgvPZAljw+50KsaJwTssUFr78M5rrhJikoqNOZhDVdKWqNUGrlSLXkYla58hBsgKlWqJQ+3WKKGC3BRHe/qoU9cYQw3g499saikwkcefpef4H38c+emYUAe5f+opMKzpmHu+84HuAuWXcOAPHI1XMCqa5iLSp/ljjMW4nv/O5xiiF3BT19b+HFHShfxo6pAXz7R7+rvPMEAegDuLC1lknRX8AAAAABJRU5ErkJggg==');
    /* Icon 'streamline-pixel--free--14x14-Map-Navigation-Pin-Location-Trip.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_weighted_shortest_job_first: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA8ElEQVR4nH3QsU3DUBSF4cMGb4uICm/A24KWknSmZAK3pqJ1m4oRuBtgymwRNsh/dGX5WXLySx9Efjp+UR609gP3hx5387BgwAee8I8DTriZh1/wyDd2+MQk6VV3bvYwJFVJM3yjhz1C+Xy3dljQIZSF8vluHlZlobXQ+rxgwCNcj9nDAh8c4ToccIJbfoNvvMNnZw/diEm8CS84w59DeXNIeobzJvxnyYM3+K0euVAOO/zCZyM2wwJ3wdKISeuLXMHQDquy0LbQeuaqqB36Te6CtqoslIV41g6rstC2ggFHjJjEV2+Hzgd79Qjl/xm6AuiZNZalitGHAAAAAElFTkSuQmCC');
    /* Icon 'streamline-pixel--free--14x14-Hand-Awesome--Streamline-Pixel.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_user_business_value: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAzElEQVR4nI3RsQ2CUBSF4eMGbGHp28DnFLa2dlg6gaV0trZ2jnBHoHULR/C/vlwEBOOffAXknmDiQvMlnLHBVwvMZZKypAuOeKLrn2FWydRrbpiwk1Qjq2TqFcMGK3gHLHGD9/OnmspXvKvKlyqcYJL2iGq0/WGUVarg3ZH1ycRzf7iGF++8hAbjchyZpocmjjTMxLs4Mk0PExqMy3Fkmh6aONIwE+/iyDQ99J5o4SVU6I5Mn6Gp/JctvC0e8Ja4oRs2SPCyhs9RixrvXl+pKQ9nLDyoAAAAAElFTkSuQmCC');
    /* Icon 'streamline-pixel--free--14x14-Interface-Essential-Alert--Streamline-Pixel.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_time_criticality: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABBElEQVR4nHXRIXKDQBiG4Y8bICvjMjhuUI5QR2UsqlTi4mqpwkYW1yNsb4Bj6iIruUH7fiXbwJS8Mw/MLPsvzJBISvGCDB16bFWiwojGgx0a7CTt0WOrEp84ixclXIKkGgfN93s8IoMb8YYPtDiJe8KlhOvhB+8YsNPcWVKOB9T43Z8g5gV/ihuQwk3I4fbwC1aDQVKhedOAQnNB17Wgy3ocDLosLHqCe8WyIPYuB2u4Ae4bLkh6RqzFarDQuqC5QuuCWIuDOQ66vvVWLU7iq+Kg69DgqP8HtDiKH48KWg6m+HtAOdwAFw+esDmYwZu+4O5QYcTmYIf4IEcKN2FACh/sQ/QDYrE9zd2lgwUAAAAASUVORK5CYII=');
    /* Icon 'streamline-pixel--free--14x14-Interface-Essential-Link-Broken-1--Streamline-Pixel.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_opportunity_enablement_or_risk_reduction: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA6ElEQVR4nI3PsVGEQACF4UcHFxqaGUoHUoJG2AIZ6VVguhmpoRfZwtrBZg4ZJVCC/7udFVDu5v6Z7wKOt8xWWnqC+4KrkbBbhVIjKaCGi8rPdlsPXUAjqcczerToUPrG8e/QNcpF5aKWZ+6At/UwKtdoW40AN+CEuB7eUlQ+eDNs0aFHQumAR7hX+J3fYcC78iAqn1oacILz/zPOwxYjJnFpdKjhEgZ8oHSH0cOo/AW/cMS9pAe4EZOWg9yMVPETtQx98gt6tPAw4V8elhcm5ZOjtnfezUMX8Al3vgMSLlaGrlFuRsLVfgDDFDXmUtKoowAAAABJRU5ErkJggg==');
    
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    
}
body {
    margin-right: 1rem;
    margin-left: 1rem;
}
h1, h2, h3, h4, h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    break-after: avoid;
    display: block;
    padding:0;
    margin: 0;

}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    break-before:page;
}

h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

h4 {
    font-size: 0.9rem;
    font-weight: bold;
}
h5 {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
}
h6 {
    font-size: 0.8rem;
    font-weight: bold;
}

p {
    margin:0;
    margin-bottom:1rem;
    padding: 0;
    font-size: 0.9rem;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

a {
    text-decoration: none;
    color: var(--link_color);
    
}
a:hover, a:focus {
    color: var(--link_color_hover);
    text-decoration: underline dotted;
}
a:visited {
    color: var(--link_color_visited);
    text-decoration: underline dotted;
}
a:visited:hover {
    color: var(--link_color_hover);
}
p > a {
    text-decoration: underline dotted;
}
pre {
    font-size: 0.5rem;
}
r-project > r-description {
    margin-right:2rem;
    
    display: block;
}
r-objective, r-milestone { 
    display: block;
    border-radius: 5px;
    position:relative;

    margin: 1rem 1rem 2rem 0;

    padding: 0.5rem;

}

r-objective  {
    box-shadow: 1px 2px 1px 2px var(--objective_boxshadow);
}
r-keyresult {
    box-shadow: 1px 2px 2px 2px var(--keyresult_boxshadow);
}
r-deliverable {
    box-shadow: 1px 2px 2px 2px var(--deliverable_boxshadow);
}
r-milestone {
    border:1px solid gray;
}
r-keyresults {
    border-left: 4px solid var(--keyresults_circle_border_color);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--keyresults_background);
    padding: 1rem 1rem 0.5rem 2rem;
    position: relative;
    margin-left: 7rem;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

r-keyresult::before {
    position: absolute;
    display: block;
    left: -9rem;
    top: 0.5rem;
    content:attr(data-date);
    text-align: right;
    font-size: .9rem;
    font-weight: bold;
    opacity: .7;
    border-bottom: 1px solid var(--keyresult_date_underline);
    min-width: 5.5rem;
    max-width: 5.5rem;

}
r-keyresult::after {
    position: absolute;
    display: block;
    box-shadow: 0 0 0 0.2rem var(--keyresults_circle_border_color);
    left: -2.5rem;
    background: var(--keyresults_circle_fill_color);
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 1.2rem;
    
}

r-keyresult, 
r-deliverable { 
    display: block;
    border-radius: 5px;
    position:relative;

    margin: 0 0.2rem 0.8rem;

    padding: 0.5rem 0.5rem 0.2rem 0.8rem;
}

r-objective {
    background: var(--objective_background);
}

r-milestone {
    background: var(--milestone_background);
}

r-keyresult {
    background: var(--keyresult_background);
    page-break-inside: avoid;
}

r-deliverable {
    background: var(--deliverable_background);
    page-break-inside: avoid;
}

r-objective > r-header, 
r-milestone > r-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1 auto;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

r-header > r-name {
    order: 1;
    display: block;
    margin-bottom:0.2rem;
}

r-header > r-state { 
    order: 2;
    font-size: 0.9rem;
    margin-bottom:0.2rem;
}
r-reference {
    display: block; 
    text-align: right;
    margin-bottom: 0.4rem;
}
r-reference > a {
    font-size: 0.9rem;
}

r-keyresult > r-header, 
r-deliverable > r-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

r-keyresult > r-header > r-name, 
r-deliverable > r-header > r-name {
    order: 1;
    display: block;
    margin-bottom:0.2rem;
    flex: auto;
}
    
    
r-keyresult > r-header > r-requirement, 
r-deliverable > r-header > r-requirement { 
    order: 2;
    font-size: 0.9rem;
    margin-bottom:0.2rem;
    align-items: flex-end;
    flex: initial;
}

r-keyresult > r-header > r-state, 
r-deliverable > r-header > r-state { 
    order: 3;
    font-size: 0.9rem;
    margin-bottom:0.2rem;
    align-items: flex-end;
    flex: initial;
}

r-state > span, 
r-requirement > span {
    margin: 0 0.2rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.25rem;
        border: 1px solid var(--color_state_todo);
        background-color: var(--color_state_todo);;
        color: var(--color_state__text);
}
span.TODO {
    border: 1px solid var(--color_state_todo);
    background-color: var(--color_state_todo);
    color: var(--color_state__text);
}
span.TODO-inverted {
    border: 1px solid var(--color_state_todo);;
    background-color: var(--color_state__text);
    color: var(--color_state_todo);
}

span.IDEA {
    border: 1px solid var(--color_state_idea);
    background-color: var(--color_state_idea);
    color: var(--color_state__text);
}
span.IDEA-inverted {
    border: 1px solid var(--color_state_idea);;
    background-color: var(--color_state__text);
    color: var(--color_state_idea);
}

span.PLANNED {
    border: 1px solid var(--color_state_planned);
    background-color: var(--color_state_planned);
    color: var(--color_state__text);
}
span.PLANNED-inverted {
    border: 1px solid var(--color_state_planned);;
    background-color: var(--color_state__text);
    color: var(--color_state_planned);;
}
span.COMMITED {
    border: 1px solid var(--color_state_commited);
    background-color: var(--color_state_commited);
    color: var(--color_state__text);
}
span.COMMITED-inverted {
    border: 1px solid var(--color_state_commited);
    background-color: var(--color_state__text);
    color: var(--color_state_commited);
}
span.DOING {
    border: 1px solid var(--color_state_doing);
    background-color: var(--color_state_doing);
    color: var(--color_state__text);
}
span.DOING-inverted {
    border: 1px solid var(--color_state_doing);
    background-color: var(--color_state__text);
    color: var(--color_state_doing);
}
span.REACHED {
    border: 1px solid var(--color_state_reached);
    background-color: var(--color_state_reached);
    color: var(--color_state__text);
}
span.REACHED-inverted {
    border: 1px solid var(--color_state_reached);
    background-color: var(--color_state__text);
    color: var(--color_state_reached);
}
span.ACHIEVED {
    border: 1px solid var(--color_state_achieved);
    background-color: var(--color_state_achieved);
    color: var(--color_state__text);
}
span.ACHIEVED-inverted {
    border: 1px solid var(--color_state_achieved);
    background-color: var(--color_state__text);
    color: var(--color_state_achieved);
}

span.DONE {
    border: 1px solid var(--color_state_done);
    background-color: var(--color_state_done);
    color: var(--color_state__text);
}
span.DONE-inverted {
    border: 1px solid var(--color_state_done);
    background-color: var(--color_state__text);
    color: var(--color_state_done);
}
span.SKIP {
    border: 1px solid var(--color_state_skip);
    background-color: var(--color_state_skip);
    color: var(--color_state__text);
}
span.SKIP-inverted {
    border: 1px solid var(--color_state_skip);
    background-color: var(--color_state__text);
    color: var(--color_state_skip);
}
span.MAY {
    background-color: var(--color_state_may);  
    border: 1px solid var(--color_state_may);
    color: var(--color_state__text);
}
span.MAY-inverted {
    background-color: var(--color_state__text);
    border: 1px solid var(--color_state_may);
    color: var(--color_state_may);
}
span.MUST {
    background-color: var(--color_state_must);
    border: 1px solid var(--color_state_must);
    color: var(--color_state__text);
}
span.MUST-inverted {
    background-color: var(--color_state__text);
    border: 1px solid var(--color_state_must);
    color: var(--color_state_must);
}
span.SHOULD {
    background-color: var(--color_state_should);   
    border: 1px solid var(--color_state_should);
    color: var(--color_state__text);
}
span.SHOULD-inverted {
    background-color: var(--color_state__text);
    color: var(--color_state_should);
    border: 1px solid var(--color_state_should);
}
.TODO::before, 
.TODO-inverted::before {
    background-color: var(--color_todo);
}
.DOING::before, 
.DOING-inverted::before {
    background-color: var(--color_doing);
}
.SKIP::before, 
.SKIP-inverted::before {
    background-color: var(--color_skip);
}
.DONE::before, 
.DONE-inverted::before {
    background-color: var(--color_done);
}

r-milestone.IDEA > r-date , 
r-milestone.IDEA-inverted > r-date {
    color: var(--color_state_idea);
}
r-milestone.PLANNED > r-date,
r-milestone.PLANNED-inverted > r-date {
    color: var(--color_state_planned);
}
r-milestone.COMMITED > r-date,
r-milestone.COMMITED-inverted > r-date {
    color: var(--color_state_commited);
}
r-milestone.REACHED > r-date,
r-milestone.REACHED-inverted > r-date  {
    color: var(--color_state_reached);
}

r-milestone.SKIP > r-date,
r-milestone.SKIP-inverted > r-date {
    background-color: transparent;
    color: gray;
    font-weight: normal;
    font-style: italic;
    border-bottom-style: dotted;
}
r-milestone.REACHED > r-deliverables > r-deliverable > r-date {
    color: var(--color_state_reached);
    border-bottom-color: gray;
    border-bottom-style: solid;
    
}
r-milestone.SKIP > r-deliverables > r-deliverable > r-date {
    border-bottom-color: gray;
    font-style: italic;
}
r-milestone.IDEA::before , 
r-milestone.PLANNED::before,
r-milestone.COMMITED::before,
r-milestone.REACHED::before,
r-milestone.SKIP::before,
r-milestone.IDEA-inverted::before , 
r-milestone.PLANNED-inverted::before,
r-milestone.COMMITED-inverted::before,
r-milestone.REACHED-inverted::before,
r-milestone.SKIP-inverted::before {
    background-color: transparent;
}

r-deliverable.DOING > r-date, 
r-deliverable.DOING-inverted > r-date {
    border-bottom-color: var(--color_doing);
}
r-deliverable.SKIP > r-date, 
r-deliverable.SKIP-inverted > r-date {
    font-style: italic;
    border-bottom-style: dotted;
}
r-deliverable.DONE > r-date, 
r-deliverable.DONE-inverted > r-date {
    border-bottom-style: solid;
}
r-deliverable::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.4rem;
    border-radius: 5px 0 0 5px;
    background-color: var(--color_todo);
}


r-objectives {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0;
    padding:0;
}


/* The actual r-timeline (the vertical ruler) */
r-milestones {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0;
    padding:0;
    
}

/* The actual r-timeline (the vertical ruler) */
r-milestones::after {
    content: '';
    position: absolute;
    width: 0.45rem;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
    padding:0;
}

/* Place the container to the left */
r-milestone:nth-child(odd) {
    left: 0;
    margin-right: 53%;
}

/* Place the container to the right */
r-milestone:nth-child(even){
    left:0;
    margin-left: 54%;

}

/* Add arrows to the left container (pointing right) */
r-milestone:nth-child(odd)::before {
    content: " ";
    height: 0;
    position: absolute;
    right: -10px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--milestone_arrow);
    top: 0.5rem;
}

/* Add arrows to the right container (pointing left) */
r-milestone:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 0.5rem;
    width: 0;
    z-index: 1;
    left: -10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--milestone_arrow) transparent transparent;
}
/* Media queries - Responsive r-timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    r-milestones::after {
        display:none;
    }

    /* Full-width containers */
    r-milestone {
        left: 0;
        display:block;
        margin-right: 1rem;
        margin-left:0;
        width: 90%;
    }
    r-milestone:nth-child(odd) {
        margin-right: 1rem;
        margin-left:0;
    }
    r-milestone:nth-child(even) {
        margin-right: 1rem;
        margin-left:0;
    }

    /* Make sure that all arrows are pointing leftwards */
    r-milestone::before {
        display:none;
    }

    /* Make sure all circles are at the same spot */
    r-milestone:nth-child(odd)::after, 
    r-milestone:nth-child(even)::after {
        display:none;
    }

    /* Make all right containers behave like the left ones */
    r-milestone:nth-child(even) {
        left:0;
        margin-left: 0;
    }
    r-deliverable > r-date {
        display: contents !important;
        color:black !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0;
    }

    r-milestone > r-date {
        display: contents !important;
        color:black !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0;
    }
}
/* Media queries - Responsive r-timeline on screens less than 600px wide */
@media print {
    /* Place the timelime to the left */
    r-milestones::after {
        display:none;
    }

    /* Full-width containers */
    r-milestone {
        left: 0;
        display:block;
        margin-right: 1rem;
        margin-left:0;
        break-inside: avoid-page;
        
    }
    r-milestone:nth-child(odd) {
        margin-right: 1rem;
        margin-left:0;
    }
    r-milestone:nth-child(even) {
        margin-right: 1rem;
        margin-left:0;
    }

    /* Make sure that all arrows are pointing leftwards */
    r-milestone::before {
        display:none;
    }

    /* Make sure all circles are at the same spot */
    r-milestone:nth-child(odd)::after, r-milestone:nth-child(even)::after {
        display:none;
    }

    /* Make all right containers behave like the left ones */
    r-milestone:nth-child(even) {
        left: 0;
        left:0;
        margin-left: 0;
    }
    r-milestone:nth-child(even) {
        left: 0;
        left:0;
        margin-left: 0;
    }
    r-deliverable > r-date {
        display: contents !important;
        color:black !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0;
    }

    r-milestone > r-date {
        display: contents !important;
        color:black !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0;
    }
}

r-description > ul {
    padding-left:1rem;
    list-style: circle;
    font-size: 0.9rem;
}


.authors {
    display: flex;
    flex-direction: row;
    
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    
    margin: 0;
    margin-right: 2rem;
    margin-bottom:1rem;

    border-radius: 6px;
    opacity: .6;
}
.authors  > .title {
    vertical-align: middle;
    font-size: .7rem;
    padding-left: 0.2rem;
}

.authors > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 2.65rem;

}

.author {
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    border-left: 2px solid rgba(200,200,200,.5);
}

.author > .name {
    font-size: 0.7rem;
    margin-left:0.2rem;
}
.author > .contact {
    font-size: 0.6rem;
    margin-left:0.4rem;
}

r-timeline {
    border-left: 0.3rem solid var(--keyresults_circle_border_color);
    background: var(--keyresults_background);

    margin: 1rem 2rem 1rem 7rem;

    padding: 0.5rem 1rem 1rem 1.1rem;

    position: relative;
    display: block;
}

r-timeline > r-timeline-item {
    text-align: left;
    position: relative;
    display: block;

    padding: 0;

    margin: 0.5rem 0 0;

}

r-timeline > r-timeline-item::after {
    position: absolute;
    display: block;
    box-shadow: 0 0 0 4px var(--keyresults_circle_border_color);
    left: -1.5rem;
    background: var(--keyresults_circle_fill_color);
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    content: "";
    top: 0.25rem;
    
}
r-timeline > r-timeline-item > r-date {
    position: absolute;
    left:-8rem;
    top: 0;
    font-weight: bold;
    font-size: 0.9rem;
    width: 6rem;
    text-align: right;
}
r-timeline > r-timeline-item > r-name > h3 {
    font-weight: normal;
    font-size: 1rem;
}
r-timeline > r-timeline-item > r-description {
    text-align: left;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 0;
    display: block;
}
r-timeline > r-timeline-item > r-description > p {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}

r-timeline > r-timeline-item > r-description > ul,h5,h6 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
r-timeline > r-timeline-item > r-description > ul,p {
    font-size: 0.9rem;
}

/* default: left block */
r-milestone > r-date {
    display: block;
    position: absolute;
    bottom: 0;
    right: -11.5rem;
    width: 9rem;
    border-bottom: 0.1rem solid var(--milestone_boxshadow);
    z-index: 0;
    font-weight: bold;
    text-align: right;
    color: black;
    font-size: 0.9rem;;
}
r-deliverable > r-date {
    display: block;
    position: absolute;
    bottom: 0;
    right: -12rem;
    width: 9rem;
    border-bottom: 0.1rem dashed grey;
    z-index: 0;
    font-weight: normal;
    text-align: right;
    color: gray;
    font-size: 0.8rem;;
}

r-milestone:nth-child(even) > r-deliverables > r-deliverable > r-date {
    left: -12.5rem;
    text-align: left;
}
r-milestone:nth-child(even) > r-date {
    left: -12rem;
    text-align: left;
}
r-objective > r-date {
    display: block;
    position: relative;
    right: 0;
    font-weight: bold;
    text-align: left;
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
r-todos >  h5 {
    border-top: 1px dashed gray;
    padding-top: 0.5rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    
}
r-todos {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
r-todo {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
    font-size: 0.8rem !important;
}
r-todo.OPEN::before {
    content: "☐";
}
r-todo.DOING::before {
    content: "⏲";
    background-color: transparent;
}
r-todo.CLOSED::before {
    content: "☑";
}
r-todo.CLOSED, r-todo.CLOSED > r-title {
    font-weight: lighter;
}
r-todo > r-title {
    font-weight: bold;
}
r-todo > r-description {
    display: block;
    padding-left: 0.9rem;
}
r-todo > r-description > p {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 0.8rem !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted grey; *//* If you want dots under the hoverable text */
}
.tooltiptext {
    display: inline;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: var(--color_tooltip_background);
    color: black;
    text-align: left;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: 1px 2px 2px 2px var(--color_tooltip_boxshadow);
    font-size: 0.8rem;
    opacity: 0.95;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-top:0.5rem;

}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%; /* red arrow is centered */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color_tooltip_arrow) transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
r-quantifiers {
    border-top: 1px dashed gray;
    display: block;
    margin: 0;
    padding: 0.5rem 0.2rem;
    font-size: 0.8rem;
    color: black;
    
}
r-weighted_shortest_job_first,r-cost_of_delay,r-jobsize, r-user_business_value, r-time_criticality,  r-opportunity_enablement_or_risk_reduction {
    display:inline-block;
    width: auto;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom:0.5rem;
    padding-left: 1.3rem;
    padding-right: 0.5rem;
    padding-top: 0;
    text-wrap: none;
}

r-cost_of_delay {
    background-image: var(--icon_quantifiers_cost_of_delay);
}
r-jobsize {
    background-image: var(--icon_quantifiers_jobsize);
}
r-weighted_shortest_job_first {
    background-image:var(--icon_quantifiers_weighted_shortest_job_first);
}

r-user_business_value {
    background-image: var(--icon_quantifiers_user_business_value);
}
r-time_criticality {
    background-image:var(--icon_quantifiers_time_criticality);
}
r-opportunity_enablement_or_risk_reduction {
    background-image: var(--icon_quantifiers_opportunity_enablement_or_risk_reduction);
}
.tooltip table {
    border-collapse: collapse;
}
.tooltip td {
    border: 0;
    margin: 0;
    padding:0;
    vertical-align: top;
    text-wrap: none;
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}
.tooltip td:nth-child(2) {
    text-align: right;
    padding-left: 0;
    font-weight: bold;
}
.tooltip tr {
    border-bottom: 1px dotted gray;
}
.tooltip caption {
    text-align:left;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
/**************/
/* Accordion */
.accordion .container {
	position: relative;
	
	margin-top:0.5rem;
}
.accordion .label {
	position: relative;
	color: black;
	cursor: pointer;

	height:1.5rem;
}

.accordion .container.active .label {
	display: none; /* arrow is not displayed if container is active */
}
.accordion .content {
	position: relative;
	height: 0;
	text-align: justify;
	overflow: hidden;
	transition: 0.5s;
}
.accordion .container.active .content {
	height: auto;
}
.accordion .label::before {
	content: '⇣';
	color: black;
	position: absolute;
	top: 0.75rem;
	right: 0;

	transform: translateY(-50%);

	font-weight:bolder;
	font-size:1rem;

}
.accordion .container.active .label::before {
	content: '⇡';
	font-weight:bolder;
	font-size:1rem;
	display:block;
}
.active > .label > span {
	display: none;
}
.label > span {
	font-size:0.8rem;
}