/* Print Style */
@page {
    size: A4;
}
 :root {
     /* Colors are ios compliant
        see https://developer.apple.com/design/human-interface-guidelines/color#Specifications
      */
    --color_red_default_light: rgba(255, 59, 48);
    --color_red_default_dark: rgba(255, 69, 58);
    --color_red_accessible_light: rgba(215, 0, 21);
    --color_red_accessible_dark: rgba(255, 105, 97);
    --color_orange_default_light: rgba(255, 149, 0);
    --color_orange_default_dark: rgba(255, 159, 10);
    --color_orange_accessible_light: rgba(201, 52, 0);
    --color_orange_accessible_dark: rgba(255, 179, 64);
    --color_yellow_default_light: rgba(255, 204, 0);
    --color_yellow_default_dark: rgba(255, 214, 10);
    --color_yellow_accessible_light: rgba(178, 80, 0);
    --color_yellow_accessible_dark: rgba(255, 212, 38);
    --color_green_default_light: rgba(52, 199, 89);
    --color_green_default_dark: rgba(48, 209, 88);
    --color_green_accessible_light: rgba(36, 138, 61);
    --color_green_accessible_dark: rgba(48, 219, 91);
    --color_mint_default_light: rgba(0, 199, 190);
    --color_mint_default_dark: rgba(102, 212, 207);
    --color_mint_accessible_light: rgba(12, 129, 123);
    --color_mint_accessible_dark: rgba(102, 212, 207);
    --color_teal_default_light: rgba(48, 176, 199);
    --color_teal_default_dark: rgba(64, 200, 224);
    --color_teal_accessible_light: rgba(0, 130, 153);
    --color_teal_accessible_dark: rgba(93, 230, 255);
    --color_cyan_default_light: rgba(50, 173, 230);
    --color_cyan_default_dark: rgba(100, 210, 255);
    --color_cyan_accessible_light: rgba(0, 113, 164);
    --color_cyan_accessible_dark: rgba(112, 215, 255);
    --color_blue_default_light: rgba(0, 122, 255);
    --color_blue_default_dark: rgba(10, 132, 255);
    --color_blue_accessible_light: rgba(0, 64, 221);
    --color_blue_accessible_dark: rgba(64, 156, 255);
    --color_indigo_default_light: rgba(88, 86, 214);
    --color_indigo_default_dark: rgba(94, 92, 230);
    --color_indigo_accessible_light: rgba(54, 52, 163);
    --color_indigo_accessible_dark: rgba(125, 122, 255);
    --color_purple_default_light: rgba(175, 82, 222);
    --color_purple_default_dark: rgba(191, 90, 242);
    --color_purple_accessible_light: rgba(137, 68, 171);
    --color_purple_accessible_dark: rgba(218, 143, 255);
    --color_pink_default_light: rgba(255, 45, 85);
    --color_pink_default_dark: rgba(255, 55, 95);
    --color_pink_accessible_light: rgba(211, 15, 69);
    --color_pink_accessible_dark: rgba(255, 100, 130);
    --color_brown_default_light: rgba(165, 132, 94);
    --color_brown_default_dark: rgba(172, 142, 104);
    --color_brown_accessible_light: rgba(127, 101, 69);
    --color_brown_accessible_dark: rgba(181, 148, 105);
    --color_gray_default_light: rgba(142, 142, 147);
    --color_gray_default_dark: rgba(142, 142, 147);
    --color_gray_accessible_light: rgba(108, 108, 112);
    --color_gray_accessible_dark: rgba(174, 174, 178);
    --color_gray2_default_light: rgba(174, 174, 178);
    --color_gray2_default_dark: rgba(99, 99, 102);
    --color_gray2_accessible_light: rgba(142, 142, 147);
    --color_gray2_accessible_dark: rgba(124, 124, 128);
    --color_gray3_default_light: rgba(199, 199, 204);
    --color_gray3_default_dark: rgba(72, 72, 74);
    --color_gray3_accessible_light: rgba(174, 174, 178);
    --color_gray3_accessible_dark: rgba(84, 84, 86);
    --color_gray4_default_light: rgba(209, 209, 214);
    --color_gray4_default_dark: rgba(58, 58, 60);
    --color_gray4_accessible_light: rgba(188, 188, 192);
    --color_gray4_accessible_dark: rgba(68, 68, 70);
    --color_gray5_default_light: rgba(229, 229, 234);
    --color_gray5_default_dark: rgba(44, 44, 46);
    --color_gray5_accessible_light: rgba(216, 216, 220);
    --color_gray5_accessible_dark: rgba(54, 54, 56);
    --color_gray6_default_light: rgba(242, 242, 247);
    --color_gray6_default_dark: rgba(28, 28, 30);
    --color_gray6_accessible_light: rgba(235, 235, 240);
    --color_gray6_accessible_dark: rgba(36, 36, 38);

     --boxshadow_shift_right: 1px;
     --boxshadow_shift_down: 1px;
     --boxshadow_spread: 2px;
     --boxshadow_blur: 0px;
 }
@media (prefers-color-scheme: dark) {
  :root {
      /*
        we define basic color names to override with their accessibility mode
       */
    --color_white: rgba(255, 255, 255);
    --color_black: rgba(0, 0, 0);
    --color_red:  var(--color_red_default_dark);
    --color_orange:  var(--color_orange_default_dark);
    --color_yellow:  var(--color_yellow_default_dark);
    --color_green:  var(--color_green_default_dark);
    --color_mint:  var(--color_mint_default_dark);
    --color_teal:  var(--color_teal_default_dark);
    --color_cyan:  var(--color_cyan_default_dark);
    --color_blue:  var(--color_blue_default_dark);
    --color_indigo:  var(--color_indigo_default_dark);
    --color_purple:  var(--color_purple_default_dark);
    --color_pink:  var(--color_pink_default_dark);
    --color_brown:  var(--color_brown_default_dark);
    --color_gray:  var(--color_gray_default_dark);
    --color_gray2:  var(--color_gray2_default_dark);
    --color_gray3:  var(--color_gray3_default_dark);
    --color_gray4:  var(--color_gray4_default_dark);
    --color_gray5:  var(--color_gray5_default_dark);
    --color_gray6:  var(--color_gray6_default_dark);
/*
from here starts the layout

the order is
body - timeline
body - milestone - deliverable
body - objective - keyresults - keyresults
body - objective - milestone - deliverable
 */
    --body-background: var(--color_black);
    --body_text: var(--color_white);
    --color_boxshadow: var(--color_gray);

    --timeline_background: var(--color_gray6);

    --milestone_background: var(--color_gray3);
    --milestone_boxshadow: var(--color_boxshadow);
    --milestone_arrow: var(--color_red);
    --milestone_text: var(--color_white);

    --deliverable_background:var(--color_gray2);
    --deliverable_boxshadow: var(--color_boxshadow);

    --objective_background: var(--color_gray5);
    --objective_boxshadow: var(--color_boxshadow);


    --keyresults_background: var(--color_gray5);
    --keyresults_r-timeline_color: gray;
    --keyresults_circle_border_color: gray;
    --keyresults_circle_fill_color: #444;

    --keyresult_background: var(--color_gray4);
    --keyresult_boxshadow: var(--color_boxshadow);

    --keyresult_date_underline: gray;


    --link_color: var(--color_mint);
    --link_color_hover: var(--color_pink);
    --link_color_visited: var(--color_purple);

    --color_todo: var(--color_gray);
    --color_planned: var(--color_orange);
    --color_doing: var(--color_blue);
    --color_done: var(--color_green);
    --color_skip: var(--color_purple);
    --color_must: var(--color_red);
    --color_should: var(--color_orange);
    --color_may: var(--color_green);

    --color_state_todo: var(--color_todo);
    --color_state_idea: var(--color_todo);
    --color_state_planned: var(--color_planned);
    --color_state_commited: var(--color_doing);
    --color_state_doing: var(--color_doing);
    --color_state_reached: var(--color_done);
    --color_state_achieved: var(--color_done);
    --color_state_done: var(--color_done);
    --color_state_skip: var(--color_skip);
    --color_state_must: var(--color_must);
    --color_state_should: var(--color_should);
    --color_state_may: var(--color_may);

    --color_state__text: var(--color_white);

    --color_tooltip_background: var(--color_gray6);
    --color_tooltip_boxshadow: var(--color_boxshadow);
    --color_tooltip_arrow: var(--color_red);

    --quantifiers_text_color: var(--color_white);

      r-project > img {
          background-color: var(--color_gray);
      }
  }
}
@media (prefers-color-scheme: light) {
  :root {
      /*
      es gibt folgende Ebenen
      level0: Body
      level1: milestones
       */
      --color_level0_background: white;

      --color_level1_background: #f1f1f1;
      --color_level1_text: black;

      --color_level2_background: rgb(226, 225, 225);
      --color_level2_text: black;

      --color_level3_background: #2d2d2d;
      --color_level3_text: white;

      --color_level4_background: #363636;
      --color_level4_text: white;

      --color_level5_background: #1a1a1a;
      --color_level5_text: white;

      --color_level6_background: black;
      --color_level6_text: white;

      --color_level7_background: black;
      --color_level7_text: white;

      --body-background: white;
      --body_text: black;
      --color_boxshadow: gray;

    --milestone_background: #d9d8d8;
    --milestone_boxshadow: var(--color_boxshadow);
    --milestone_arrow: #ff0808;
    --milestone_text: gray;

    --deliverable_background: rgb(244, 244, 245);
    --deliverable_boxshadow: var(--color_boxshadow);

    --objective_background: #f1f1f1;
    --objective_boxshadow: var(--color_boxshadow);

    --keyresults_background: #f1f1f1;
    --keyresults_r-timeline_color: gray;
    --keyresults_circle_border_color: gray;
    --keyresults_circle_fill_color: #444;

    --keyresult_background: rgb(226, 225, 225);
    --keyresult_boxshadow: var(--color_boxshadow);

    --keyresult_date_underline: gray;


    --link_color: #209c41;
    --link_color_hover: #bf4aaa;
    --link_color_visited: #6381ef;

    --color_todo: #888;
    --color_doing: #63B2EB;;
    --color_done: #10c350;
    --color_skip: #F65BD2;

    --color_state_todo: var(--color_todo);
    --color_state_idea: var(--color_todo);
    --color_state_planned: #E0AF2F;
    --color_state_commited: #63B2EB;
    --color_state_doing: var(--color_doing);
    --color_state_reached: var(--color_done);
    --color_state_achieved: var(--color_done);
    --color_state_done: var(--color_done);
    --color_state_skip: var(--color_skip);
    --color_state_must: #B81D13;
    --color_state_should: #ecb70b;
    --color_state_may: #008450;

    --color_state__text: white;

    --color_tooltip_background: lightblue;
    --color_tooltip_boxshadow: var(--color_boxshadow);
    --color_tooltip_arrow: red;
  }
}
@media (prefers-color-scheme: no-preference) {
  :root {
    --body-background: white;
    --body_text: black;

    --milestone_background: rgb(226, 225, 225);
    --milestone_boxshadow: gray;
    --milestone_arrow: #CB6262;


    --deliverable_background: white;
    --deliverable_boxshadow: gray;

    --objective_background: white;
    --objective_boxshadow: gray;

    --keyresults_background: white;
    --keyresults_r-timeline_color: gray;
    --keyresults_circle_border_color: gray;
    --keyresults_circle_fill_color: #444;

    --keyresult_background: rgb(226, 225, 225);
    --keyresult_boxshadow: gray;

    --keyresult_date_underline: gray;


    --link_color: #209c41;
    --link_color_hover: #bf4aaa;
    --link_color_visited: #203d9c;

    --color_todo: #888;
    --color_doing: #63B2EB;;
    --color_done: #10c350;
    --color_skip: #F65BD2;

    --color_state_todo: var(--color_todo);
    --color_state_idea: var(--color_todo);
    --color_state_planned: #E0AF2F;
    --color_state_commited: #63B2EB;
    --color_state_doing: var(--color_doing);
    --color_state_reached: var(--color_done);
    --color_state_achieved: var(--color_done);
    --color_state_done: var(--color_done);
    --color_state_skip: var(--color_skip);
    --color_state_must: #B81D13;
    --color_state_should: #ecb70b;
    --color_state_may: #008450;

    --color_state__text: white;

    --color_tooltip_background: lightblue;
    --color_tooltip_boxshadow: gray;
    --color_tooltip_arrow: red;
  }
}
:root {



    /* Embeded Icons for quantifiers - for offline support */
    /* all these images are with black lines */
    /* Icon 'streamline-pixel--free--14x14-Business-Products-Performance-Money-Decrease.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_cost_of_delay: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABCElEQVR4nHXQMVLCQBiG4c0JTOcRsNycgKSytKTUTujW0kpvQKwcbyClJwhU2GWtNDeQylDa+X7s/EzCjO/MAzM/85GBzKVqTFGhh+WhIkZlsAKuUUB5NFAVIlSNkPEyTMcpAt5QutTaOXeFGnuUp0MVsESBCOXRQm1wHOqDM6g9IqwcDTzUBoehDhPsoM7RIULl8LB6RA1bVNBB5dATCvxbhogtLqC+sMLajdOXqQ8EDXvc4hs6XmIBK+DGpXflMdHwB3PsMMMLIizdOtjNo9GwxTt+oeMnXmE9IeDRpfT54TeWLn3rcLiCtcQdHqD0H9xrOKzGFgtYz+gQcex0qGaYw9LTRiP1B3j/QPxnrZ9XAAAAAElFTkSuQmCC');
    /* Icon 'streamline-pixel--free--14x14-wrench.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_jobsize: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAzUlEQVR4nJXRuQ3CQABE0XEHS0RKSEgJpgQiUkpwSgWkEEFGC3TAlgARIqMEdwB/WK24fIgvPZAljw+50KsaJwTssUFr78M5rrhJikoqNOZhDVdKWqNUGrlSLXkYla58hBsgKlWqJQ+3WKKGC3BRHe/qoU9cYQw3g499saikwkcefpef4H38c+emYUAe5f+opMKzpmHu+84HuAuWXcOAPHI1XMCqa5iLSp/ljjMW4nv/O5xiiF3BT19b+HFHShfxo6pAXz7R7+rvPMEAegDuLC1lknRX8AAAAABJRU5ErkJggg==');
    /* Icon 'streamline-pixel--free--14x14-Map-Navigation-Pin-Location-Trip.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_weighted_shortest_job_first: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA8ElEQVR4nH3QsU3DUBSF4cMGb4uICm/A24KWknSmZAK3pqJ1m4oRuBtgymwRNsh/dGX5WXLySx9Efjp+UR609gP3hx5387BgwAee8I8DTriZh1/wyDd2+MQk6VV3bvYwJFVJM3yjhz1C+Xy3dljQIZSF8vluHlZlobXQ+rxgwCNcj9nDAh8c4ToccIJbfoNvvMNnZw/diEm8CS84w59DeXNIeobzJvxnyYM3+K0euVAOO/zCZyM2wwJ3wdKISeuLXMHQDquy0LbQeuaqqB36Te6CtqoslIV41g6rstC2ggFHjJjEV2+Hzgd79Qjl/xm6AuiZNZalitGHAAAAAElFTkSuQmCC');
    /* Icon 'streamline-pixel--free--14x14-Hand-Awesome--Streamline-Pixel.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_user_business_value: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAzElEQVR4nI3RsQ2CUBSF4eMGbGHp28DnFLa2dlg6gaV0trZ2jnBHoHULR/C/vlwEBOOffAXknmDiQvMlnLHBVwvMZZKypAuOeKLrn2FWydRrbpiwk1Qjq2TqFcMGK3gHLHGD9/OnmspXvKvKlyqcYJL2iGq0/WGUVarg3ZH1ycRzf7iGF++8hAbjchyZpocmjjTMxLs4Mk0PExqMy3Fkmh6aONIwE+/iyDQ99J5o4SVU6I5Mn6Gp/JctvC0e8Ja4oRs2SPCyhs9RixrvXl+pKQ9nLDyoAAAAAElFTkSuQmCC');
    /* Icon 'streamline-pixel--free--14x14-Interface-Essential-Alert--Streamline-Pixel.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_time_criticality: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAABBElEQVR4nHXRIXKDQBiG4Y8bICvjMjhuUI5QR2UsqlTi4mqpwkYW1yNsb4Bj6iIruUH7fiXbwJS8Mw/MLPsvzJBISvGCDB16bFWiwojGgx0a7CTt0WOrEp84ixclXIKkGgfN93s8IoMb8YYPtDiJe8KlhOvhB+8YsNPcWVKOB9T43Z8g5gV/ihuQwk3I4fbwC1aDQVKhedOAQnNB17Wgy3ocDLosLHqCe8WyIPYuB2u4Ae4bLkh6RqzFarDQuqC5QuuCWIuDOQ66vvVWLU7iq+Kg69DgqP8HtDiKH48KWg6m+HtAOdwAFw+esDmYwZu+4O5QYcTmYIf4IEcKN2FACh/sQ/QDYrE9zd2lgwUAAAAASUVORK5CYII=');
    /* Icon 'streamline-pixel--free--14x14-Interface-Essential-Link-Broken-1--Streamline-Pixel.png' from https://www.streamlinehq.com/ */
    --icon_quantifiers_opportunity_enablement_or_risk_reduction: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAA6ElEQVR4nI3PsVGEQACF4UcHFxqaGUoHUoJG2AIZ6VVguhmpoRfZwtrBZg4ZJVCC/7udFVDu5v6Z7wKOt8xWWnqC+4KrkbBbhVIjKaCGi8rPdlsPXUAjqcczerToUPrG8e/QNcpF5aKWZ+6At/UwKtdoW40AN+CEuB7eUlQ+eDNs0aFHQumAR7hX+J3fYcC78iAqn1oacILz/zPOwxYjJnFpdKjhEgZ8oHSH0cOo/AW/cMS9pAe4EZOWg9yMVPETtQx98gt6tPAw4V8elhcm5ZOjtnfezUMX8Al3vgMSLlaGrlFuRsLVfgDDFDXmUtKoowAAAABJRU5ErkJggg==');

}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    
}
body {
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: var(--body-background);
    color: var(--body_text);
}
h1, h2, h3, h4, h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    break-after: avoid;
    display: block;
    padding:0px;
    margin: 0px;

}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
    break-before:page;
}

h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

h4 {
    font-size: 0.9rem;
    font-weight: bold;
}
h5 {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
}
h6 {
    font-size: 0.8rem;
    font-weight: bold;
}

p {
    margin:0;
    margin-bottom:1rem;
    padding: 0;
    font-size: 0.9rem;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

a {
    text-decoration: none;
    color: var(--link_color);
    
}
a:hover, a:focus {
    color: var(--link_color_hover);
    text-decoration: underline dotted;
}
a:visited {
    color: var(--link_color_visited);
    text-decoration: underline dotted;
}
a:visited:hover {
    color: var(--link_color_hover);
}
p > a {
    text-decoration: underline dotted;
}
pre {
    font-size: 0.5rem;
}
r-project > r-description {
    margin-right:2rem;
    
    display: block;
}
r-objective, r-milestone { 
    display: block;
    border-radius: 5px;
    position:relative;

    margin-top: 1rem; 
    margin-bottom: 2rem; 
    margin-left: 0rem; 
    margin-right: 1rem; 

    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 

}


r-objective  {
    box-shadow: var(--boxshadow_shift_right) var(--boxshadow_shift_down) var(--boxshadow_spread) var(--boxshadow_blur) var(--objective_boxshadow);
}
r-keyresult {
    box-shadow: var(--boxshadow_shift_right) var(--boxshadow_shift_down) var(--boxshadow_spread) var(--boxshadow_blur)  var(--keyresult_boxshadow);
}
r-deliverable {
    box-shadow: var(--boxshadow_shift_right) var(--boxshadow_shift_down) var(--boxshadow_spread) var(--boxshadow_blur)  var(--deliverable_boxshadow);
}
r-milestone {
    /*border:1px solid gray;*/
    box-shadow: var(--boxshadow_shift_right) var(--boxshadow_shift_down) var(--boxshadow_spread) var(--boxshadow_blur)  var(--milestone_boxshadow);
}
r-keyresults {
    border-left: 4px solid var(--keyresults_circle_border_color);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--keyresults_background);
    padding: 1rem 1rem 0.5rem 2rem;
    position: relative;
    margin-left: 7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: block;
}

r-keyresult::before {
    position: absolute;
    display: block;
    left: -9rem;
    top: 0.5rem;
    content:attr(data-date);
    text-align: right;
    font-size: .9rem;
    font-weight: bold;
    opacity: .7;
    border-bottom: 1px solid var(--keyresult_date_underline);
    min-width: 5.5rem;
    max-width: 5.5rem;

}
r-keyresult::after {
    position: absolute;
    display: block;
    box-shadow: 0 0 0 0.2rem var(--keyresults_circle_border_color);
    left: -2.5rem;
    background: var(--keyresults_circle_fill_color);
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 1.2rem;
    
}

r-keyresult, 
r-deliverable { 
    display: block;
    border-radius: 5px;
    position:relative;
    
    margin-top: 0rem; 
    margin-bottom: 0.8rem; 
    margin-left: 0rem; 
    margin-right: 0rem; 

    padding-top: 0.5rem; 
    padding-bottom: 0.2rem; 
    padding-left: 0.8rem; 
    padding-right: 0.5rem; 
}

r-objective {
    background: var(--objective_background);
}

r-milestone {
    background: var(--milestone_background);
}

r-keyresult {
    background: var(--keyresult_background);
    page-break-inside: avoid;
}

r-deliverable {
    background: var(--deliverable_background);
    page-break-inside: avoid;
}

r-objective > r-header, 
r-milestone > r-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 auto;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

r-header > r-name {
    order: 1;
    display: block;
    margin-bottom:0.2rem;
}

r-header > r-state { 
    order: 2;
    font-size: 0.9rem;
    margin-bottom:0.2rem;
}
r-reference {
    display: block; 
    text-align: right;
    margin-bottom: 0.4rem;
}
r-reference > a {
    font-size: 0.9rem;
}

r-keyresult > r-header, 
r-deliverable > r-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

r-keyresult > r-header > r-name, 
r-deliverable > r-header > r-name {
    order: 1;
    display: block;
    margin-bottom:0.2rem;
    flex: auto;
}
    
    
r-keyresult > r-header > r-requirement, 
r-deliverable > r-header > r-requirement { 
    order: 2;
    font-size: 0.9rem;
    margin-bottom:0.2rem;
    align-items: flex-end;
    flex: initial;
}

r-keyresult > r-header > r-state, 
r-deliverable > r-header > r-state { 
    order: 3;
    font-size: 0.9rem;
    margin-bottom:0.2rem;
    align-items: flex-end;
    flex: initial;
}

r-state > span, 
r-requirement > span {
        margin:0rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        border-radius: 0.25rem;
        border: 1px solid var(--color_state_todo);
        background-color: var(--color_state_todo);;
        color: var(--color_state__text);
}
span.TODO {
    border: 1px solid var(--color_state_todo);
    background-color: var(--color_state_todo);
    color: var(--color_state__text);
}
span.TODO-inverted {
    border: 1px solid var(--color_state_todo);;
    background-color: var(--color_state__text);
    color: var(--color_state_todo);
}

span.IDEA {
    border: 1px solid var(--color_state_idea);
    background-color: var(--color_state_idea);
    color: var(--color_state__text);
}
span.IDEA-inverted {
    border: 1px solid var(--color_state_idea);;
    background-color: var(--color_state__text);
    color: var(--color_state_idea);
}

span.PLANNED {
    border: 1px solid var(--color_state_planned);
    background-color: var(--color_state_planned);
    color: var(--color_state__text);
}
span.PLANNED-inverted {
    border: 1px solid var(--color_state_planned);;
    background-color: var(--color_state__text);
    color: var(--color_state_planned);;
}
span.COMMITED {
    border: 1px solid var(--color_state_commited);
    background-color: var(--color_state_commited);
    color: var(--color_state__text);
}
span.COMMITED-inverted {
    border: 1px solid var(--color_state_commited);
    background-color: var(--color_state__text);
    color: var(--color_state_commited);
}
span.DOING {
    border: 1px solid var(--color_state_doing);
    background-color: var(--color_state_doing);
    color: var(--color_state__text);
}
span.DOING-inverted {
    border: 1px solid var(--color_state_doing);
    background-color: var(--color_state__text);
    color: var(--color_state_doing);
}
span.REACHED {
    border: 1px solid var(--color_state_reached);
    background-color: var(--color_state_reached);
    color: var(--color_state__text);
}
span.REACHED-inverted {
    border: 1px solid var(--color_state_reached);
    background-color: var(--color_state__text);
    color: var(--color_state_reached);
}
span.ACHIEVED {
    border: 1px solid var(--color_state_achieved);
    background-color: var(--color_state_achieved);
    color: var(--color_state__text);
}
span.ACHIEVED-inverted {
    border: 1px solid var(--color_state_achieved);
    background-color: var(--color_state__text);
    color: var(--color_state_achieved);
}

span.DONE {
    border: 1px solid var(--color_state_done);
    background-color: var(--color_state_done);
    color: var(--color_state__text);
}
span.DONE-inverted {
    border: 1px solid var(--color_state_done);
    background-color: var(--color_state__text);
    color: var(--color_state_done);
}
span.SKIP {
    border: 1px solid var(--color_state_skip);
    background-color: var(--color_state_skip);
    color: var(--color_state__text);
}
span.SKIP-inverted {
    border: 1px solid var(--color_state_skip);
    background-color: var(--color_state__text);
    color: var(--color_state_skip);
}
span.MAY {
    background-color: var(--color_state_may);  
    border: 1px solid var(--color_state_may);
    color: var(--color_state__text);
}
span.MAY-inverted {
    background-color: var(--color_state__text);
    border: 1px solid var(--color_state_may);
    color: var(--color_state_may);
}
span.MUST {
    background-color: var(--color_state_must);
    border: 1px solid var(--color_state_must);
    color: var(--color_state__text);
}
span.MUST-inverted {
    background-color: var(--color_state__text);
    border: 1px solid var(--color_state_must);
    color: var(--color_state_must);
}
span.SHOULD {
    background-color: var(--color_state_should);   
    border: 1px solid var(--color_state_should);
    color: var(--color_state__text);
}
span.SHOULD-inverted {
    background-color: var(--color_state__text);
    color: var(--color_state_should);
    border: 1px solid var(--color_state_should);
}
.TODO::before, 
.TODO-inverted::before {
    background-color: var(--color_todo);
}
.DOING::before, 
.DOING-inverted::before {
    background-color: var(--color_doing);
}
.SKIP::before, 
.SKIP-inverted::before {
    background-color: var(--color_skip);
}
.DONE::before, 
.DONE-inverted::before {
    background-color: var(--color_done);
}

r-milestone.IDEA > r-date , 
r-milestone.IDEA-inverted > r-date {
    color: var(--color_state_idea);
}
r-milestone.PLANNED > r-date,
r-milestone.PLANNED-inverted > r-date {
    color: var(--color_state_planned);
}
r-milestone.COMMITED > r-date,
r-milestone.COMMITED-inverted > r-date {
    color: var(--color_state_commited);
}
r-milestone.REACHED > r-date,
r-milestone.REACHED-inverted > r-date  {
    color: var(--color_state_reached);
}

r-milestone.SKIP > r-date,
r-milestone.SKIP-inverted > r-date {
    background-color: transparent;
    color: gray;
    font-weight: normal;
    font-style: italic;
    border-bottom-style: dotted;
}
r-milestone.REACHED > r-deliverables > r-deliverable > r-date {
    color: var(--color_state_reached);
    border-bottom-color: gray;
    border-bottom-style: solid;
    
}
r-milestone.SKIP > r-deliverables > r-deliverable > r-date {
    border-bottom-color: gray;
    font-style: italic;
}
r-milestone.IDEA::before , 
r-milestone.PLANNED::before,
r-milestone.COMMITED::before,
r-milestone.REACHED::before,
r-milestone.SKIP::before,
r-milestone.IDEA-inverted::before , 
r-milestone.PLANNED-inverted::before,
r-milestone.COMMITED-inverted::before,
r-milestone.REACHED-inverted::before,
r-milestone.SKIP-inverted::before {
    background-color: transparent;
}

r-deliverable.DOING > r-date, 
r-deliverable.DOING-inverted > r-date {
    border-bottom-color: var(--color_doing);
}
r-deliverable.SKIP > r-date, 
r-deliverable.SKIP-inverted > r-date {
    font-style: italic;
    border-bottom-style: dotted;
}
r-deliverable.DONE > r-date, 
r-deliverable.DONE-inverted > r-date {
    border-bottom-style: solid;
}
r-deliverable::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.4rem;
    border-radius: 5px 0 0 5px;
    background-color: var(--color_todo);
}


r-objectives {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0;
    padding:0;
}


/* The actual r-timeline (the vertical ruler) */
r-milestones {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0;
    padding:0;
    
}

/* The actual r-timeline (the vertical ruler) */
r-milestones::after {
    content: '';
    position: absolute;
    width: 0.45rem;
    background-color: gray;
    top: 0rem;
    bottom: 0rem;
    left: 50%;
    margin: 0 auto;
    padding:0;
}

/* Place the container to the left */
r-milestone:nth-child(odd) {
    left: 0;
    margin-right: 53%;
}

/* Place the container to the right */
r-milestone:nth-child(even){
    left:0;
    margin-left: 54%;

}

/* Add arrows to the left container (pointing right) */
r-milestone:nth-child(odd)::before {
    content: " ";
    height: 0;
    position: absolute;
    right: -12px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--milestone_arrow);
    top: 0.5rem;
}

/* Add arrows to the right container (pointing left) */
r-milestone:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 0.5rem;
    width: 0;
    z-index: 1;
    left: -11px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--milestone_arrow) transparent transparent;
}
/* Media queries - Responsive r-timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    r-milestones::after {
        display:none;
    }

    /* Full-width containers */
    r-milestone {
        left: 0;
        display:block;
        margin-right: 1rem;
        margin-left:0px;
        width: 90%;
    }
    r-milestone:nth-child(odd) {
        margin-right: 1rem;
        margin-left:0px;
    }
    r-milestone:nth-child(even) {
        margin-right: 1rem;
        margin-left:0px;
    }

    /* Make sure that all arrows are pointing leftwards */
    r-milestone::before {
        display:none;
    }

    /* Make sure all circles are at the same spot */
    r-milestone:nth-child(odd)::after, 
    r-milestone:nth-child(even)::after {
        display:none;
    }

    /* Make all right containers behave like the left ones */
    r-milestone:nth-child(even) {
        left: 0%;
        left:0;
        margin-left: 0;
    }
    r-deliverable > r-date {
        display: contents !important;
        color: var(--body_text) !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0rem;
    }

    r-milestone > r-date {
        display: contents !important;
        color:var(--body_text) !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0rem;
    }
}
/* Media queries - Responsive r-timeline on screens less than 600px wide */
@media print {
    /* Place the timelime to the left */
    r-milestones::after {
        display:none;
    }

    /* Full-width containers */
    r-milestone {
        left: 0;
        display:block;
        margin-right: 1rem;
        margin-left:0px;
        break-inside: avoid-page;
        
    }
    r-milestone:nth-child(odd) {
        margin-right: 1rem;
        margin-left:0px;
    }
    r-milestone:nth-child(even) {
        margin-right: 1rem;
        margin-left:0px;
    }

    /* Make sure that all arrows are pointing leftwards */
    r-milestone::before {
        display:none;
    }

    /* Make sure all circles are at the same spot */
    r-milestone:nth-child(odd)::after, r-milestone:nth-child(even)::after {
        display:none;
    }

    /* Make all right containers behave like the left ones */
    r-milestone:nth-child(even) {
        left: 0%;
        left:0;
        margin-left: 0;
    }
    r-milestone:nth-child(even) {
        left: 0%;
        left:0;
        margin-left: 0;
    }
    r-deliverable > r-date {
        display: contents !important;
        color:var(--milestone_text) !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0rem;
    }

    r-milestone > r-date {
        display: contents !important;
        color:var(--milestone_text) !important;
        font-weight: bold !important;
        font-size: 0.9rem !important;
        text-align: right !important;
        left: 0rem;
    }
}

r-description > ul {
    padding-left:1rem;
    list-style: circle;
    font-size: 0.9rem;
}


.authors {
    display: flex;
    flex-direction: row;
    
    padding: 0rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    
    margin: 0rem;
    margin-right: 2rem;
    margin-bottom:1rem;

    border-radius: 6px;
    opacity: .6;
}
.authors  > .title {
    vertical-align: middle;
    font-size: .7rem;
    padding-left: 0.2rem;
}

.authors > ul {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    margin-left: 2.65rem;

}

.author {
    margin: 0rem;
    margin-bottom: 0.5rem;
    padding: 0rem;
    border-left: 2px solid rgba(200,200,200,.5);
}

.author > .name {
    font-size: 0.7rem;
    margin-left:0.2rem;
}
.author > .contact {
    font-size: 0.6rem;
    margin-left:0.4rem;
}

r-timeline {
    border-left: 0.3rem solid var(--keyresults_circle_border_color);
    background: var(--timeline_background);
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7rem;
    margin-right: 2rem;

    padding-top: 0.5rem ;
    padding-bottom: 1rem;
    padding-left: 1.1rem;
    padding-right: 1rem;
    
    position: relative;
    display: block;
}

r-timeline > r-timeline-item {
    text-align: left;
    position: relative;
    display: block;
    
    margin:0rem;
    padding:0rem;

    margin-top: 0.5rem;

}

r-timeline > r-timeline-item::after {
    position: absolute;
    display: block;
    box-shadow: 0 0 0 4px var(--keyresults_circle_border_color);
    left: -1.5rem;
    background: var(--keyresults_circle_fill_color);
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
    content: "";
    top: 0.25rem;
    
}
r-timeline > r-timeline-item > r-date {
    position: absolute;
    left:-8rem;
    top: 0rem;
    font-weight: bold;
    font-size: 0.9rem;
    width: 6rem;
    text-align: right;
}
r-timeline > r-timeline-item > r-name > h3 {
    font-weight: normal;
    font-size: 1rem;
}
r-timeline > r-timeline-item > r-description {
    text-align: left;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    display: block;
}
r-timeline > r-timeline-item > r-description > p {
    margin:0rem;
    padding:0rem;
    padding-top: 0.5rem;
}

r-timeline > r-timeline-item > r-description > ul,h5,h6 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}
r-timeline > r-timeline-item > r-description > ul,p {
    font-size: 0.9rem;
}

/* default: left block */
r-milestone > r-date {
    display: block;
    position: absolute;
    bottom: 0rem;
    right: -11.5rem;
    width: 9rem;
    border-bottom: 0.1rem solid var(--milestone_boxshadow);
    z-index: 0;
    font-weight: bold;
    text-align: right;
    color: black;
    font-size: 0.9rem;;
}
r-deliverable > r-date {
    display: block;
    position: absolute;
    bottom: 0rem;
    right: -12rem;
    width: 9rem;
    border-bottom: 0.1rem dashed grey;
    z-index: 0;
    font-weight: normal;
    text-align: right;
    color: gray;
    font-size: 0.8rem;;
}

r-milestone:nth-child(even) > r-deliverables > r-deliverable > r-date {
    left: -12.5rem;
    text-align: left;
}
r-milestone:nth-child(even) > r-date {
    left: -12rem;
    text-align: left;
}
r-objective > r-date {
    display: block;
    position: relative;
    right: 0rem;
    font-weight: bold;
    text-align: left;
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
r-todos >  h5 {
    border-top: 1px dashed gray;
    padding-top: 0.5rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    
}
r-todos {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}
r-todo {
    display: block;
    margin: 0rem;
    padding: 0rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
    font-size: 0.8rem !important;
}
r-todo.OPEN::before {
    content: "☐";
}
r-todo.DOING::before {
    content: "⏲";
    background-color: transparent;
}
r-todo.CLOSED::before {
    content: "☑";
}
r-todo.CLOSED, r-todo.CLOSED > r-title {
    font-weight: lighter;
}
r-todo > r-title {
    font-weight: bold;
}
r-todo > r-description {
    display: block;
    padding-left: 0.9rem;
}
r-todo > r-description > p {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-size: 0.8rem !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted grey; *//* If you want dots under the hoverable text */
}
.tooltiptext {
    display: inline;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: var(--color_tooltip_background);
    color: black;
    text-align: left;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: var(--boxshadow_shift_right) var(--boxshadow_shift_down) var(--boxshadow_spread) var(--boxshadow_blur) var(--color_tooltip_boxshadow);
    font-size: 0.8rem;
    opacity: 0.95;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: auto;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-top:0.5rem;

}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%; /* red arrow is centered */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color_tooltip_arrow) transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
r-quantifiers {
    border-top: 1px dashed gray;
    display: block;
    margin:0rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
    font-size: 0.8rem;
    color: var(--quantifiers_text_color);
    
}
r-weighted_shortest_job_first,r-cost_of_delay,r-jobsize, r-user_business_value, r-time_criticality,  r-opportunity_enablement_or_risk_reduction {
    display:inline-block;
    width: auto;
    background-repeat: no-repeat;
    margin-top:0rem;
    margin-bottom:0.5rem;
    padding-left: 1.3rem;
    padding-right: 0.5rem;
    padding-top: 0rem;
    text-wrap: nowrap;
}

r-cost_of_delay {
    background-image: var(--icon_quantifiers_cost_of_delay);
}
r-jobsize {
    background-image: var(--icon_quantifiers_jobsize);
}
r-weighted_shortest_job_first {
    background-image:var(--icon_quantifiers_weighted_shortest_job_first);
}

r-user_business_value {
    background-image: var(--icon_quantifiers_user_business_value);
}
r-time_criticality {
    background-image:var(--icon_quantifiers_time_criticality);
}
r-opportunity_enablement_or_risk_reduction {
    background-image: var(--icon_quantifiers_opportunity_enablement_or_risk_reduction);
}
.tooltip table {
    border-collapse: collapse;
}
.tooltip td {
    border: 0px;
    margin: 0;
    padding:0;
    vertical-align: top;
    text-wrap: nowrap;
    padding-top:0.1rem;
    padding-bottom:0.1rem;
}
.tooltip td:nth-child(2) {
    text-align: right;
    padding-left: 0rem;
    font-weight: bold;
}
.tooltip tr {
    border-bottom: 1px dotted gray;
}
.tooltip caption {
    text-align:left;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
